.crm-webform-no-borders .crm-webform-header-container {
	display: none!important;
}
.crm-webform-iframe {
    background: #ebebeb url(http://www.shtrih-m.ru/solutions/trade-in/pero.png) no-repeat scroll right 20px!important;
    border-top: 3px solid #f7a600!important;
}
.page-theme-transparent .content {
    background: none!important;
}
.crm-webform-no-borders .crm-webform-header-container {
display:none!important;
}

.flexible-middle-width .content-wrap {
    max-width: 100%!important;
}
.crm-webform-label-title-container {
    float: left!important;
    width: 150px!important;
    margin-right: 20px!important;
}
.crm-webform-group {
float: left!important;
width: 400px!important;
}
.crm-webform-label {
text-align:right!important;
font-size: 20px!important;
    color: #000!important;
}
.crm-webform-input {
max-width:100%!important;
}
.crm-webform-label-required-field:after {
    margin: 8px 0 0 2px!important;
color: #f7a600!important;
}

#field_LEAD_NAME_CONT {
width: 600px!important;
}

#field_LEAD_PHONE_CONT {
width: 250px!important;
}

button.crm-webform-submit-button {
    color: #000!important;
    background: #f7a600!important;
    font-size: 20px!important;
    text-transform: none!important;
    font-weight: normal!important;
    border-radius: 0!important;
    box-shadow: 5px 5px 0 rgba(0,0,0,0.1)!important;
    float: left!important;
}
.crm-webform-fieldset-footer {
padding-left:170px!important;
}